
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

*       @arberzela @yashsmehta @crwhite14

# You can have owners for particular type of files (e.g. .py) or for specific subdirectories or
# for specific branches.