ConfigSpace==0.4.19
cython==0.29.23
numpy==1.21.5; python_version <= '3.7'
numpy>=1.22.0; python_version > '3.7'
torch==1.9.0
torchvision==0.10.0
fvcore==0.1.5.post20210630
pytest==6.2.4
pytorch-msssim==0.2.1
pandas==1.3.5
tensorwatch==0.9.1
transforms3d
scikit-learn==1.0.2
tqdm==4.50.2
seaborn
gdown
