name: pre-commit

on:
  push:
    branches: [Develop, master]
  pull_request:
    branches: [Develop, master]
  
jobs:
  run-all-files:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install pre-commit
      run: |
        pip install pre-commit
        pre-commit install
    - name: Run pre-commit
      run: |
        pre-commit run --all-files
